@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
}
caption {
  padding: 10px;
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 500px;
}

td,
th {
  border: 1px solid black;
  padding: 5px;
  font-size: 1.2em;
}
td {
  text-align: center;
}
th {
  background-color: gray;
  color: white;
}
th.alignleft {
  text-align: left;
}
th.columablack {
  color: black;
  background-color: white;
}
