@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
}
table {
  width: 400px;
  border-collapse: collapse;
  border: 5px solid red;
}
tr.linha {
  background-color: darkgray;
}

td {
  border: 1px solid black;
  padding: 8px;
}
td.dado {
  background-color: yellow;
}
